img {
    width: 500px;
}
body{
    background-color: rgb(210, 216, 210);
    color: rgba(14, 12, 1, 0.534);
}
.text {
    border-style: dashed;
    border-color: blue;
}
a:hover {
    color: black;
    background-color: rgb(13, 230, 230);
}
a {
    text-decoration: none;
    background-color: rgb(150, 209, 32);
    padding: 10px;
    border-radius: 50px;
}
.weapon {
    border-style: dotted;
    border-width: 10px;
}
span {
    font-weight: 800;
    font-style: italic;
    color: black;
}

